absl-py==2.0.0
abstract_singleton==1.0.1
aiohttp==3.8.5
aiosignal==1.3.1
albumentations==1.4.4
ale-py==0.8.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
asynctest==0.13.0
attrs==23.1.0
auto_gpt_plugin_template @ git+https://github.com/Significant-Gravitas/Auto-GPT-Plugin-Template@7612a14c629dc64ad870eee4d05850d60e1dd9ce
autoflake==2.2.0
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
Babel==2.15.0
beautifulsoup4==4.12.2
black==23.7.0
bleach==6.1.0
blis==0.7.10
cachetools==5.3.1
catalogue==2.0.9
certifi==2024.6.2
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.6
cloudpickle==2.2.1
cmake==3.29.2
colorama==0.4.6
comm==0.2.2
confection==0.1.0
contourpy==1.1.0
coverage==7.2.7
cryptography==41.0.2
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
distro==1.8.0
dlib==19.24.4
dnspython==2.4.0
docker==6.1.3
duckduckgo-search==3.0.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
et-xmlfile==1.1.0
exceptiongroup==1.1.2
execnet==2.0.2
executing==2.0.1
Farama-Notifications==0.0.4
fastapi==0.100.0
fastjsonschema==2.20.0
filelock==3.12.2
flake8==6.0.0
flatbuffers==23.5.26
fonttools==4.42.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.2.0
gast==0.5.4
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.1
google-api-python-client==2.95.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.1
grpcio==1.59.0
gTTS==2.3.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
h5py==3.9.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
hydra-core==1.3.2
identify==2.5.26
idna==3.4
imageio==2.31.3
importlib_resources==6.4.0
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
isoduration==20.11.0
isort==5.12.0
jedi==0.19.1
Jinja2==3.1.2
jiter==0.5.0
joblib==1.4.0
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
kaleido==0.2.1
keras==2.14.0
kiwisolver==1.4.5
langcodes==3.3.0
lazy_loader==0.3
libclang==16.0.6
loguru==0.7.0
lxml==4.9.3
Markdown==3.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
mkdocs==1.4.3
ml-dtypes==0.2.0
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.9
mypy==1.4.1
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
nodeenv==1.8.0
notebook==7.2.1
notebook_shim==0.2.4
numpy==2.1.0
oauthlib==3.2.2
omegaconf==2.3.0
openai==1.41.0
openapi-python-client==0.13.4
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.5
opt-einsum==3.3.0
orjson==3.8.10
outcome==1.2.0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.11.1
pathy==0.10.2
pexpect==4.9.0
pillow==10.4.0
pinecone-client==2.2.1
platformdirs==3.11.0
playsound==1.2.2
pluggy==1.5.0
pre-commit==3.3.3
preshed==3.0.8
prometheus_client==0.20.0
prompt_toolkit==3.0.48
protobuf==4.23.4
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.17
pydantic_core==2.18.2
pyflakes==3.0.1
pygame==2.6.0
Pygments==2.18.0
pylatexenc==2.10
pymdown-extensions==10.1
pyOpenSSL==23.2.0
pyparsing==3.1.4
PyPDF2==3.0.1
PySocks==1.7.1
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-benchmark==4.0.0
pytest-cov==4.1.0
pytest-integration==0.2.3
pytest-mock==3.11.1
pytest-recording==0.12.2
pytest-xdist==3.3.1
python-dateutil==2.9.0.post0
python-docx==0.8.11
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2024.2
PyWavelets==1.4.1
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==26.2.0
readability-lxml==0.8.1
redis==4.6.0
referencing==0.30.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.9.2
rsa==4.9
sb3-contrib==2.2.1
scikit-image==0.21.0
scikit-learn==1.4.2
scipy==1.14.0
seaborn==0.13.2
selenium==4.1.4
Send2Trash==1.8.3
shellingham==1.5.0.post1
Shimmy==1.3.0
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.7
stable-baselines3==2.2.1
stack-data==0.6.3
starlette==0.27.0
sympy==1.13.3
tenacity==8.4.1
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.14.0
termcolor==2.3.0
terminado==0.18.1
thinc==8.1.10
threadpoolctl==3.5.0
tifffile==2023.8.30
tiktoken==0.7.0
tinycss2==1.3.0
torch==2.3.1
torch_cluster==1.6.0
torch_geometric==2.0.4
torch_scatter==2.0.9
torch_sparse==0.6.18
torch_spline_conv==1.2.1
torchaudio==2.3.1
torchvision==0.18.1
tornado==6.4.1
tqdm==4.65.0
traitlets==5.14.3
trio==0.22.2
trio-websocket==0.10.3
typer==0.7.0
types-beautifulsoup4==4.12.0.5
types-colorama==0.4.15.12
types-html5lib==1.1.11.15
types-Markdown==3.4.2.10
types-Pillow==10.0.0.2
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.2
urllib3-secure-extra==0.1.0
uvicorn==0.23.1
vcrpy @ git+https://github.com/Significant-Gravitas/vcrpy.git@2f6fa05ae3518b1c0e92e63c3d12ecf5cf82cd48
virtualenv==20.24.2
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.13
webcolors==24.6.0
webdriver-manager==3.9.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.0
wrapt==1.14.1
wsproto==1.2.0
yarl==1.9.2
